# Exchange rates

In [8]:
import itertools
import pandas as pd

data = [
    [1, 1.45, 0.52, 0.72],
    [0.7, 1, 0.31, 0.48],
    [1.95, 3.1, 1, 1.49],
    [1.34, 1.98, 0.64, 1]
]

labels = ["Snowballs", "Pizza's", "Silicon Nuggets", "SeaShells"]

df = pd.DataFrame(data, index=labels, columns=labels)


print(df)

                 Snowballs  Pizza's  Silicon Nuggets  SeaShells
Snowballs             1.00     1.45             0.52       0.72
Pizza's               0.70     1.00             0.31       0.48
Silicon Nuggets       1.95     3.10             1.00       1.49
SeaShells             1.34     1.98             0.64       1.00

In [14]:
# TRADE 1

first_value = 1 # Is the number of seashells (it is not important)

first_trade = pd.DataFrame([df.loc["SeaShells"] * first_value])
first_trade.index = [f"SeaShells x {first_value}"]

print(first_trade)

               Snowballs  Pizza's  Silicon Nuggets  SeaShells
SeaShells x 1       1.34     1.98             0.64        1.0

In [15]:
# TRADE 2

first_trade_rates = first_trade.iloc[0]
second_trade = df.T * first_trade_rates
print(second_trade)

# Nella matrice output sono le quantità di commodity della riga se lo scambi precedente è fatto con la colonna

                 Snowballs  Pizza's  Silicon Nuggets  SeaShells
Snowballs           1.3400   1.3860           1.2480       1.34
Pizza's             1.9430   1.9800           1.9840       1.98
Silicon Nuggets     0.6968   0.6138           0.6400       0.64
SeaShells           0.9648   0.9504           0.9536       1.00

In [16]:
# TRADE 3 # Qui per ogni commodity si hanno 4 quantità, quindi va preso il max per ogni riga
second_trade_max = second_trade.max(axis=1)
third_trade = df.T * second_trade_max
print(third_trade)

                 Snowballs  Pizza's  Silicon Nuggets  SeaShells
Snowballs          1.38600  1.38880         1.358760       1.34
Pizza's            2.00970  1.98400         2.160080       1.98
Silicon Nuggets    0.72072  0.61504         0.696800       0.64
SeaShells          0.99792  0.95232         1.038232       1.00

In [17]:
# TRADE 4 
third_trade_max = third_trade.max(axis=1)
fourth_trade = df.T * third_trade_max
print(fourth_trade)

                 Snowballs   Pizza's  Silicon Nuggets  SeaShells
Snowballs         1.388800  1.512056         1.405404   1.391231
Pizza's           2.013760  2.160080         2.234232   2.055699
Silicon Nuggets   0.722176  0.669625         0.720720   0.664468
SeaShells         0.999936  1.036838         1.073873   1.038232

In [18]:
# TRADE 5
fourth_trade_max = fourth_trade.max(axis=1)
seashell_rates = df['SeaShells']

final_trade = fourth_trade_max * seashell_rates
print(final_trade)

Snowballs          1.088680
Pizza's            1.072431
Silicon Nuggets    1.076042
SeaShells          1.073873
dtype: float64